<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<div class="movie-detail-container">
    <div class="movie-header">
        <img th:src="${actor.Image}" alt="Movie Poster" class="movie-poster"/>
        <div class="movie-header-info">
            <h1 th:text="${actor.name}">Actor name</h1>
            <p class="release-date" th:text="'Age: ' + ${actor.age}">Age</p>
            <p class="rating" th:text="'Gender: ' + ${actor.gender}">Gender</p>
        </div>
    </div>
</div>
</body>
</html>
