<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>

<h1>Actor</h1>
<div id="actor">
    <h2 th:text="'Name: '+${actor.name}">Name</h2>
    <h3 th:text="'Age: '+${actor.age}">Age</h3>
    <h3 th:text="'Gender: '+${actor.gender}">Gender</h3>
    </div>
</body>
</html>