<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Actors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<div class="container">
    <div class="main-content">
        <h1>Actor List</h1>
        <div class="genre-buttons">
            <ul th:each="actor : ${actors}">
                <a th:href="@{'/actors/' + ${actor.id}}" th:text="${actor.name}"></a>
            </ul>
        </div>
    </div>
</div>
</body>
</html>