<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Actors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<div class="container">
    <div class="main-content">
        <h1>Actors</h1>
        <div>
            <ul>
                <li th:each="actor : ${actors}">
                    <div class="movie-card">

                        <div class="movie-cover-container">
                            <!-- Movie cover image -->
                            <img th:src="@{${actor.Image}}" alt="Cover Image" class="movie-cover-image"/>
                        </div>

                        <a th:href="@{'/actors/' + ${actor.id}}" th:text="${actor.name}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
