<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Browsing Catalog</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<!-- Navigation Bar -->
<div th:replace="/nav :: nav"></div>
<!-- Centered container with max width -->
<div class="container">
    <!-- Main Content -->
    <div class="main-content">
        <h1>Movie Browsing Catalogue</h1>

    </div>

</div>


</body>
</html>
