<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<h2>Login to your account</h2>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <input type="text" name="username" id="username" th:field="*{username}" placeholder="Username" required/>
    <input type="text" name="password" id="password" th:value="*{password}" placeholder="Password" required/>
    <input type="submit" value="Login"/>
</form>

<!-- Sign Up Link -->
<div class="signup-option">
    <p>Don't have an account? <a th:href="@{/signup}">Sign Up</a></p>
</div>

</body>
</html>
