<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<div class="container">
    <div class="main-content">
        <h1 th:text="${category} + ' Movies'">Movie Categories</h1>
        <h3>Selected Movie Category: <span th:text="${category}"></span></h3>
        <div th:if="${not movies.isEmpty()}">
            <ul>
                <li th:each="movie : ${movies}">
                    <div class="movie-card">

                        <div class="movie-cover-container">
                            <!-- Movie cover image -->
                            <img th:src="@{${movie.coverImage}}" alt="Cover Image" class="movie-cover-image"/>
                        </div>

                        <a th:href="@{'/movies/' + ${movie.id}}" th:text="${movie.title}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
