<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<div th:replace="/nav :: nav"></div>
<h2>All Users</h2>
<div>
    <ul>
        <li th:each="user : ${users}">
            <a th:href="@{'/user/' + ${user.id}}" th:text="${user.username}"></a>
            (<span th:text="${user.email}"></span>)
        </li>
    </ul>
</div>
</body>
</html>