<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Browsing Catalog</title>
</head>
<body>
<h1>The Movie Browsing Catalogue</h1>
<div th:replace="/nav :: nav"></div>
<h2 th:text="${contentTitle}">Movies</h2>
<div>
    <ul>
        <li th:each="movie : ${movies}">
            <a th:href="@{'/' + ${contextPath} + '/' + ${movie.id}}" th:text="${movie.title}"></a>
        </li>
    </ul>
</div>
</body>
</html>