<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Browsing Catalog</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:replace="/nav :: nav"></div>
<div class="container">
    <!-- Main Content -->
    <div class="main-content">
        <h1 th:text="${contentTitle}">Movies</h1>
        <div class="menu-links">
            <a th:href="@{'/' + ${contextPath} + '/categories'}">Categories</a>
            <div th:if="@{ ${contextPath} == 'movies'}">
                <a th:href="@{/movies/top-movies}">Top Movies</a>
            </div>
        </div>

        <div>
            <ul>
                <li th:each="movie : ${movies}">
                    <div class="movie-card">

                        <div class="movie-cover-container">
                            <!-- Movie cover image -->
                            <img th:src="@{${movie.CoverImage}}" alt="Cover Image" class="movie-cover-image"/>
                        </div>

                        <a th:href="@{'/' + ${contextPath} + '/' + ${movie.id}}" th:text="${movie.title}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
