<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navigation</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <!-- Left Section: Logo -->
        <div class="logo">
            <a href="/"><img src="https://i.imgur.com/WMfSuXW.jpeg"
                             alt="Site Logo" class="logo-image"/></a>
        </div>

        <!-- Center Section: Navigation Links -->
        <ul class="nav-links">
            <li><a href="/movies">Movies</a></li>
            <li><a href="/tvshows">TV Shows</a></li>
            <li><a href="/actors">Actors</a></li>
            <li><a href="/watchlists">Watchlists</a></li>
        </ul>

        <!-- Right Section: Profile Picture or Login Option -->
        <div class="profile-section">
            <!-- Profile Picture and Welcome Message (if logged in) -->

            <div th:if="${isAuthenticated}">
                <a href="/users/profile">
                    <div>
                        <img th:src="${profileImage != null ? '/images/' + profileImage.id : 'https://static.vecteezy.com/system/resources/previews/020/765/399/non_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg'}"
                             alt="Profile Image"/>
                    </div>
                    <div>Profile</div>
                </a>
            </div>
            <div th:if="${isAuthenticated}" class="user-info">
                <a href="/logout" class="logout-btn">Logout</a>
            </div>

            <!-- Login Button (if not logged in) -->
            <div th:if="${!isAuthenticated}">
                <a href="/login" class="login-btn">Login</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
