<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TV Show Categories</h1>
<div th:replace="/nav :: nav"></div>
<div class="genre-buttons">
    <h3>Browse by Category</h3>
    <ul>
        <th:block th:each="category : ${categories}">
            <li>
                <a th:href="@{/tvshows/categories/{category}(category=${category})}" th:text="${category}">Genre</a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>