<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
<h1>Update Password</h1>

<form th:object="${passwordChangeRequest}" th:action="@{/users/{ID}/update-password(ID=${user.ID})}" method="post">
    <input type="hidden" name="_method" value="patch"/>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" th:field="*{newPassword}" required>
    <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Password Error</div>
    <button type="submit">Update Password</button>
</form>

<p><a th:href="@{/users/{ID}(ID=${user.ID})}">Back to Profile</a></p>

</body>
</html>
