<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>User Watchlists</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<div class="container">
  <div class="main-content">
    <h1>User Watchlists</h1>
    <ul>
      <li th:each="watchlist : ${userWatchlists}">
        <div class="watchlist-card">
          <a th:href="@{'/watchlists/' + ${watchlist.id}}"><h2 th:text="${watchlist.name}"></h2></a>

        </div>
      </li>
    </ul>
  </div>
</div>
</body>
</html>