<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<h1>User Settings</h1>

<div>
    <a th:href="@{/users/{id}/update-password(id=${user.ID})}">
        <button>Update Password</button>
    </a>
    <a th:href="@{/delete/{username}(username=${user.username})}">
        <button>Delete Profile</button>
    </a>
    <a href="/images/upload">
        <button>Upload Picture</button>
    </a>
</div>
</body>
</html>
